---
 - name: configure apache2
   hosts: all
   serial: 1
   tasks: 
     - name: install apache2
       apt:
         name: apache2
         state: present
         update_cache: yes
     - name: edit index.html file
       copy: 
         content: "Intelliq It"
         dest: /var/www/html/index.html
     - name: restart apache2
       service:
         name: apache2
         state: restarted
     - name: check apache response on server1
       uri:
         url: http://172.31.33.9
         status_code: 200
     - name: check apache response on server2
       uri: 
         url: http://172.31.39.182
         status_code: 200
...
